.RData
confidential
.Rhistory
.Rproj.user
.cache
.env
.Renviron
data/**

# LaTeX intermediate files (keeping .bbl and .pdf)
*.aux
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.nav
*.snm
*.vrb
*.idx
*.ilg
*.ind
*.glo
*.gls
*.glg
*.acn
*.acr
*.alg
*.brf
*.loa
*.thm
*.figlist
*.makefile
*.xdv
*.fmt
*.fmt.log
*.auxlock
